affinegap==1.10
airtable-python-wrapper==0.11.3.post1
appnope==0.1.0
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.1.0
boto3==1.9.25
botocore==1.12.253
braintree==4.0.0
BTrees==4.6.1
cachetools==3.1.1
categorical-distance==1.9
censusgeocode==0.4.3.post1
centerline==0.6.3
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
civis==1.14.2
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==0.8.1
cryptography==2.8
curlify==2.2.1
cycler==0.10.0
datetime-distance==0.1.3
decorator==4.4.1
dedupe==1.9.9
dedupe-hcluster==0.3.6
dedupe-variable-datetime==0.1.5
dedupe-variable-name==0.0.13
defusedxml==0.6.0
dnspython==1.16.0
docutils==0.14
DoubleMetaphone==0.1
email-validator==1.0.5
entrypoints==0.3
facebook-business==6.0.0
fastcluster==1.1.25
Fiona==1.8.13.post1
flake8==3.7.7
future==0.18.2
fuzzywuzzy==0.17.0
geojson==2.5.0
geopandas==0.7.0
google-api-core==1.21.0
google-api-python-client==1.10.0
google-auth==1.19.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.21.0
google-cloud-core==1.0.3
google-cloud-storage==1.17.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
gsheets==0.4.1
gspread==3.1.0
haversine==2.1.2
highered==0.2.1
httplib2==0.18.0
idna==2.7
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.0
jsonref==0.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kiwisolver==1.1.0
Levenshtein-search==1.4.4
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
munch==2.5.0
mysql-connector-python==8.0.18
nbconvert==5.6.1
nbformat==4.4.0
newmode==0.1.6
notebook==6.0.2
numpy==1.17.3
oauth2client==4.1.3
oauthlib==3.1.0
packaging==19.2
pandas==0.25.3
pandocfilters==1.4.2
paramiko==2.7.1
parseratorvariable==0.0.18
parso==0.5.1
parsons==0.13.2
persistent==4.5.1
petl==1.2.0
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.1
probableparsing==0.0.1
probablepeople==0.5.4
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.12.2
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
pubnub==4.1.6
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycountry==19.8.18
pycparser==2.19
pycryptodomex==3.9.1
pyflakes==2.1.1
Pygments==2.4.2
pyhacrf-datamade==0.2.3
pyIsEmail==1.3.2
PyJWT==1.7.1
PyLBFGS==0.2.0.12
PyNaCl==1.3.0
pyparsing==2.4.4
pyproj==2.6.0
pyrsistent==0.15.5
PySocks==1.7.1
pytest==5.2.0
pytest-datadir==1.3.0
python-crfsuite==0.9.6
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
PyYAML==3.13
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.20.0
requests-mock==1.5.2
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rlr==2.4.5
rsa==4.0
s3transfer==0.1.13
scipy==1.3.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.0
simple-salesforce==0.74.3
simplecosine==1.2
simplejson==3.16.0
six==1.13.0
slackclient==1.3.0
soupsieve==2.0.1
sqlparse==0.3.0
suds-py3==1.3.4.0
terminado==0.8.2
testfixtures==6.4.3
testpath==0.4.4
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
tweepy==3.8.0
twilio==6.30.0
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.24.3
uuid==1.30
validate-email==1.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
widgetsnbextension==3.5.1
xlrd==1.2.0
XlsxWriter==1.2.7
xmltodict==0.11.0
zipp==0.6.0
zope.index==5.0.0
zope.interface==4.7.1
