appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
cachetools==5.2.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
coverage==7.1.0
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==0.10.0
fastjsonschema==2.16.1
Fiona==1.8.21
fonttools==4.43.0
fuzzywuzzy==0.18.0
geopandas==0.11.1
gitdb==4.0.9
GitPython==3.1.41
google-api-core==2.8.2
google-api-python-client==2.58.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.4
httplib2==0.21.0
idna==3.3
iniconfig==2.0.0
ipykernel==6.15.1
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.1
jedi==0.18.1
Jinja2==3.1.3
jsonschema==4.14.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter_core==4.11.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.2
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==2.0.4
munch==2.5.0
nameparser==1.1.1
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.12
numpy==1.23.2
oauthlib==3.2.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.2.0
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==4.21.6
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.15.0
pyparsing==3.0.9
pyproj==3.3.1
pyrsistent==0.18.1
pytest==7.2.1
python-dateutil==2.8.2
python-Levenshtein==0.12.2
python-polylabel==0.6
pytz==2022.2.1
pyzmq==23.2.1
qtconsole==5.3.1
QtPy==2.2.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
Send2Trash==1.8.0
Shapely==1.8.4
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
stack-data==0.4.0
terminado==0.15.0
tinycss2==1.1.1
tomli==2.0.1
tornado==6.3.3
tqdm==4.66.3
traitlets==5.3.0
tweepy==4.10.1
Unidecode==1.3.4
uritemplate==4.1.1
urllib3==1.26.18
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==4.0.2
