{% extends 'directory/base.html' %}
{% load directory_extras static %}
{% block title %}ANC {{ anc.designator }} | OpenANC{% endblock %}

{% block content %}
<p class="breadcrumbs"><a href="{% url 'directory:district_list' %}">List of districts</a> &rsaquo; ANC {{ anc.designator }}</p>
<h1>ANC {{ anc.designator }}</h1>
<p class="muted">{{ anc.redistricting_year }} redistricting cycle</p>

<ul class="link-list">
    {% if anc.dc_oanc_link %}<li><a href="{{ anc.dc_oanc_link }}">Official OANC profile</a></li>{% endif %}
    {% if anc.anc_homepage_link %}<li><a href="{{ anc.anc_homepage_link }}">ANC homepage</a></li>{% endif %}
    {% if anc.twitter_link %}<li><a href="{{ anc.twitter_link }}">Twitter / X</a></li>{% endif %}
</ul>

{% if boundary_geometry %}
<div id="map" style="width: 100%; height: 500px;"></div>
{{ boundary_geometry|json_script:"boundary-geometry" }}
{{ district_designators|json_script:"district-designators" }}
{{ anc_designators|json_script:"anc-designators" }}
{% endif %}

<h2>Districts</h2>
{% include 'directory/_district_table.html' %}

{% if overlaps %}
<h2>{% if anc.redistricting_year == 2022 %}Pre-2022 ANC{% else %}Post-2022 ANC{% endif %}</h2>
<p class="muted">This ANC's territory overlaps with the following ANC(s) from the other redistricting cycle:</p>
<ul class="link-list">
    {% for overlap in overlaps %}
    <li><a href="{{ overlap.to_anc.get_absolute_url }}">ANC {{ overlap.to_anc.designator }}</a> ({{ overlap.overlap_percentage|as_percentage|floatformat:1 }}% overlap)</li>
    {% endfor %}
</ul>
{% endif %}

{% if anc.notes %}<p>{{ anc.notes }}</p>{% endif %}
{% endblock %}

{% block extra_body %}
{% if boundary_geometry %}
<script src="https://api.mapbox.com/mapbox-gl-js/{{ mapbox_gl_js_version }}/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/{{ mapbox_gl_js_version }}/mapbox-gl.css" rel="stylesheet">
<script src="{% static 'directory/js/boundary_map.js' %}"></script>
<script>
initBoundaryMap('map', 'boundary-geometry', '{{ mapbox_access_token }}', '{{ mapbox_smd_style }}', {
    year: {{ anc.redistricting_year }},
    districtDesignators: JSON.parse(document.getElementById('district-designators').textContent),
    ancDesignators: JSON.parse(document.getElementById('anc-designators').textContent),
});
</script>
{% endif %}
{% endblock %}
