<html>
<head>
<link rel="stylesheet" type="text/css" href="map.css">
<title>OpenANC : Map View</title>
<meta charset='utf-8' />
</head>
<body>
<div id='menu'>
<strong>OpenANC</strong>
<br/>(Map not clickable, fix coming shortly)</a>
<br/><a href="about.html">About</a>
<br/><a href="list.html">List View</a>
</div>
<iframe width='100%' height='100%' src="https://api.mapbox.com/styles/v1/devinbrady/cl4yg387b000u14msjowbcvcq.html?title=false&access_token=pk.eyJ1IjoiZGV2aW5icmFkeSIsImEiOiJjazB0aWMyb2IwYTJnM2hsb2twZm1namFoIn0.OUOlfILkB77LwrWhj_uqkQ&zoomwheel=false#12/38.9133/-77.01106" title="SMD-2022" style="border:none;"></iframe>
</body>
</html>