<html>
 <head>
  <title>
   OpenANC: Counts
  </title>

  <!-- replace with google analytics -->
 </head>
 <body>

<h1><a href="index.html">OpenANC</a> : Counts</h1>

<h2>Candidates by Status</h2>

REPLACE_WITH_STATUS_COUNT

<h2>Single Member Districts with Candidates</h2>

REPLACE_WITH_DC_COUNT

<h3>By Ward</h3>

REPLACE_WITH_WARD_COUNT

<h3>By ANC</h3>

REPLACE_WITH_ANC_COUNT

<p>Note that the Single Member Districts 3G01, 3G02, 3G03, 3G04 are a part of ANC 3G but located in Ward 4. When counting SMDs by ward, these four SMDs are counted in Ward 4.</p>

<!-- replace with footer -->

</body>
</html>