<html>
<head>
<link rel="stylesheet" type="text/css" href="nonmap.css">
<title>
OpenANC : Counts
</title>

<!-- replace with google analytics -->
</head>
<body>

<h1><a href="index.html">OpenANC</a> : Counts</h1>

<h2>Candidates by Status</h2>

REPLACE_WITH_STATUS_COUNT

<h2>Races Contested in 2022</h2>

REPLACE_WITH_CONTESTED_COUNT

<h2>Commissioners</h2>

<p>Counts of currently-serving commissioners, on the old map used in the 2020 election.</p>

REPLACE_WITH_COMMISSIONER_COUNT

<!-- <h2>Single Member Districts with 2020 Election Results</h2>

REPLACE_WITH_DC_COUNT

<h3>By Ward</h3>

REPLACE_WITH_WARD_COUNT

<h3>By ANC</h3>

REPLACE_WITH_ANC_COUNT

<p>Note that the Single Member Districts 3G01, 3G02, 3G03, and 3G04 are a part of ANC 3G but located in Ward 4. When counting SMDs by ward, these four SMDs are counted in Ward 4.</p>
 -->

<!-- 
<h2>Pickups by Day</h2>

REPLACE_WITH_PICKUPS_BY_DAY

<p><em>Not all candidates have a pickup date recorded in the DCBOE list of candidates, so the total number of candidates here does not match the actual number of candidates. Excludes withdrawn candidates.</em></p>
 -->


<!-- replace with footer -->

</body>
</html>