
<h2>Links</h2>
<ul>
    <li>REPLACE_WITH_EDIT_LINK</li>
    <li><a href="REPLACE_WITH_LINK_PATH___index.html">Find your ANC district</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___list.html">List of commissioners and districts</a></li>
    <!-- <li><a href="REPLACE_WITH_LINK_PATH___map.html">Map of districts by number of candidates</a></li> -->
    <li><a href="REPLACE_WITH_LINK_PATH___counts.html">Counts</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___about.html">About OpenANC</a></li>
    <li><a href="https://twitter.com/OpenANC">@OpenANC on Twitter</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___index.html">OpenANC Home</a></li>
</ul>

<p>Last updated: REPLACE_WITH_UPDATED_AT</p>
