
<h2>Links</h2>
<ul>
    <li><a href="REPLACE_WITH_LINK_PATH___index.html">Find your ANC district</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___contested.html">Map of districts by number of candidates</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___list.html">List of districts</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___people/index.html">List of people</a></li>
    <!-- <li><a href="REPLACE_WITH_LINK_PATH___incumbents.html">List of incumbents</a></li> -->
    <li><a href="REPLACE_WITH_LINK_PATH___counts.html">Counts</a></li>
    <!-- replace with edit items -->
    <li><a href="REPLACE_WITH_LINK_PATH___about.html">About OpenANC</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___updates.html">Updates</a></li>
    <li><a href="https://bsky.app/profile/openanc.org">@OpenANC on Bluesky</a></li>
    <li><a href="https://dmv.community/@openanc">@OpenANC on Mastodon</a></li>
    <li><a href="REPLACE_WITH_LINK_PATH___index.html">OpenANC Home</a></li>
</ul>

<p>Last updated: REPLACE_WITH_UPDATED_AT</p>
