<html>
<head>
<link rel="stylesheet" type="text/css" href="../nonmap.css">

<title>OpenANC : REPLACE_WITH_PERSON_FULL_NAME</title>
<meta charset='utf-8' />

<!-- replace with google analytics -->
</head>

<body>


<h1><a href="../index.html">OpenANC</a> : <a href="index.html">People</a> : REPLACE_WITH_PERSON_FULL_NAME</h1>


<!-- replace with person links -->

<!-- replace with districts represented -->

<p>Information about commissioners serving before 2019 has not yet been added to OpenANC.</p>

<!-- replace with candidacies -->

<!-- replace with footer -->

</body>

</html>



