body {
    margin:30;
    padding:0;
}

.col_heading {
    background-color: #d9d9d9;
    padding: 8px;
}

.data {
    border: 1px solid #d9d9d9;
    text-align: center;
    padding: 4px;
}

.attribute_heading {
    background-color: #d9d9d9;
    padding: 8px;
    width: 150px;
}

.attribute_value {
    border: 1px solid #d9d9d9;
    padding: 4px;
    text-align: left;
}
